XD
<section class="hero">
    <div id="degradado" class="degradado"></div>
    <div class="hero-frase">
        <p>Contar con un seguro de vida es
            <br><span class="hero-frase__1">una necesidad y no un lujo.</span>
            <br><span class="hero-frase__2">Tenemos planes que se adaptan a tus necesidades.</span>
        </p>
    </div>
    <img class="portada-imagen" src="../../../assets/portada-hero.jpg" alt="">
</section>

<div class="container">
    <div class="beneficios">
        <h2>Seis razones para tener un seguro de vida y vivir tranquilo</h2>
        <section class="cards">
            <div class="card">
                <p>Te protege en caso de incapacidad temporal o permanente</p>
                <img src="../../../assets/card-1.jpg" alt="">
            </div>
            <div class="card">
                <img src="../../../assets/card-2.jpg" alt="">
                <p>Recibes una mensualidad por pérdida de empleo</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-3.jpg" alt="">
                <p>La póliza se adapta a tu presupuesto</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-4.jpg" alt="">
                <p>Cubre los gastos de tu funeral</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-5.jpg" alt="">
                <p>La cobertura aplica a toda causa de fallecimiento</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-6.jpg" alt="">
                <p>Asegura el futuro de tu familia</p>
            </div>
        </section>
    </div>
    <br><br><br>
    <div class="seccion seccion-1">
        <div class="info">
            <h3>¿Por qué contratar <span>SegurosPlus?</span></h3>
            <h5>¡Confía en los expertos y no te preocupes más!</h5>
            <p>Con los servicios que te ofrecemos en SegurosPlus, no tendrás más preocupaciones. Estamos expuestos a eventos imprevistos como enfermedades y accidentes. Contratar un seguro de vida brinda respaldo ante alguna eventualidad, además de asegurar
                bienestar para la familia.</p>
        </div>
        <img src="../../../assets/seccion-1.jpg" alt="">
    </div>

    <br><br><br>
    <div class="seccion seccion-2">
        <img src="../../../assets/seccion-2.jpg" alt="">
        <div class="info">
            <h3>¿Qué beneficios obtengo de <span>SegurosPlus?</span></h3>
            <p>Este seguro cubre fallecimiento por cualquier causa. Brinda un beneficio financiero a los dependientes en caso de muerte prematura de la persona asegurada. <br><br>Es la mejor alternativa para resguardarse ante eventos imprevistos como enfermedades
                o accidente, debido a que ofrece tranquilidad y certeza de que habrá dinero disponible aun en una situación de desventaja. Las personas que más quieres podrán recibir una indemnización en caso de fallecimiento del titular. <br><br>Cuenta
                con la más completa Asistencia Exequial para el titular.</p>
        </div>
    </div>
    <br><br><br>
    <div class="seccion seccion-3">
        <div class="info">
            <h3>¿Qué vigencia tiene <span>SegurosPlus?</span></h3>
            <p>La vigencia del producto es anual, siempre y cuando el Asegurado se encuentre al día en sus pagos.</p>
        </div>
        <img src="../../../assets/seccion-3.jpg" alt="">
    </div>
</div>
<app-footer></app-footer>