<section class="hero">
    <div id="degradado" class="degradado"></div>
    <div class="hero-frase">
        <h1>¿Quiénes somos?</h1>
        <p>En el año 2021, nació nuestra empresa con un sueño audaz y una pasión innegable por proteger lo más valioso: la vida y los bienes de las personas en la hermosa ciudad de Machala. Somos una aseguradora joven pero llena de energía y compromiso,
            y nos llamamos "SegurosPlus".</p>
    </div>
    <img class="portada-imagen" src="../../../assets/quienes-somos-hero.jpg" alt="">
</section>

<div class="container">
    <div class="nuestra-vision">
        <h2>Nuestra Visión</h2>
        <section class="cards">
            <div class="card">
                <p>Nos esforzamos por ser el aliado de confianza de nuestros asegurados en cada etapa de su vida. </p>
                <img src="../../../assets/quienes-somos_foto-1.jpg" alt="">
            </div>
            <div class="card">
                <img src="../../../assets/quienes-somos_foto-2.jpg" alt="">
                <p>Nuestra visión es construir relaciones a largo plazo con nuestros clientes, basadas en la transparencia, honestidad y ética en cada interacción.</p>
            </div>
            <div class="card">
                <img src="../../../assets/quienes-somos_foto-3.jpg" alt="">
                <p>Trabajamos arduamente para asegurarnos de que nuestros procesos y servicios cumplan con los más altos estándares de calidad</p>
            </div>
        </section>
    </div>
    <br><br><br>
    <div class="seccion seccion-1">
        <div class="info">
            <h3>Responsabilidad Social y Ética Empresarial</h3>
            <p>En Seguro Plus, creemos en la importancia de contribuir al bienestar de la comunidad en la que operamos. Es por ello que nos comprometemos a llevar a cabo prácticas empresariales responsables y éticas. Nos esforzamos por tener un impacto positivo
                en la sociedad a través de programas de responsabilidad social que promuevan la seguridad y el bienestar de todos.</p>
        </div>
        <img src="../../../assets/foto-seccion1.jpg" alt="">
    </div>

    <br><br><br>
    <div class="seccion seccion-2">
        <img src="../../../assets/foto-seccion2.jpg" alt="">
        <div class="info">
            <h3>Únete a Seguro Plus y Vive con Tranquilidad</h3>
            <p>Si buscas una compañía de seguros en la que puedas confiar plenamente, estás en el lugar correcto. En Seguro Plus, no solo protegemos tus activos, sino que también protegemos tus sueños y ambiciones. Únete a nuestra familia de asegurados y
                disfruta de la tranquilidad que te mereces.</p>
        </div>
    </div>
</div>
<br><br><br>
<app-footer></app-footer>