<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="Auto">
    <div id="degradado" class="degradado"></div>
    <div class="hero-frase">

        <p>
            <span class="auto1">Confia en SeguroPlus para</span>
            <br><span class="auto1">proteger lo que mas amas</span>
            <br><span class="auto2">Te ofrecemos seguros de vida y carros.</span>
            <br><span class="auto3">que te brindan la tranquilidad que mereces.</span>
        </p>
    </div>
    <img class="portada-imagen" src="../../../assets/unoi.png" alt="">

</section>
<div class="beneficios">
    <h2>Beneficios de nuestros seguros</h2>
    <section class="cards">
        <div class="card">
            <p>Amplia variedad de seguros de vida</p>
            <img src="../../../assets/seguro1.png" alt="">
        </div>
        <div class="card">
            <p>Seguros exclusivos para automoviles</p>
            <img src="../../../assets/seguro2.png" alt="">

        </div>
        <div class="card">
            <p>Acceso a la informacion de pagos </p>
            <img src="../../../assets/seguro3.png" alt="">

        </div>
        <div class="card">
            <p>Servicio al cliente las 24 horas</p>
            <img src="../../../assets/seguro4.png" alt="">

        </div>

    </section>
</div>
<br>
<br>

<div class="seccion-per">
    <img src="../../../assets/persona.png" alt="">
    <div class="info">

        <h3>Personalizacion de <span>Planes</span></h3>
        <h5>Seguro plus ofrece a todos sus clientes una amplia oferta de seguros que se ajusten a sus necesidades</h5>
        <p>Planes cómodos y al alcance de tu bolsillo. </p>
        <p>Planes exclusivos para clientes vip.</p>
        <p>Planes acorde a sus necesidades.</p>
    </div>

</div>

<br>
<br>
<br>

<div class="seccion-per2">

    <div class="info">

        <h3>Seguridad Garantizada</h3>
        <h5>Entendemos que la tranquilidad y protección son fundamentales en la vida de las personas. Es por eso que nos enorgullecemos en ofrecer seguridad garantizada a todos nuestros clientes.</h5>
        <p>Asesoramiento </p>
        <p>Protección garantizada</p>
        <p>Tranquilidad para nuestros clientes</p>
    </div>
    <img src="../../../assets/persona2.png" alt="">
</div>


<br>
<br>
<br>

<div class="seccion-per3">
    <img src="../../../assets/persona3.png" alt="">
    <div class="info">

        <h3>Experiencia y Trayectoria</h3>
        <h5>Con más de dos décadas en el mercado asegurador, en Seguro Plus nos enorgullecemos de ser una empresa con una amplia experiencia en el sector. Desde nuestros inicios, hemos estado comprometidos en brindar soluciones de protección integral a nuestros
            clientes, ofreciendo tranquilidad y seguridad en cada paso de sus vidas.</h5>

    </div>

</div>
<br>
<br>






<script>
    $(document).ready(function() {
        // Una vez que la página esté lista, aplicamos la clase "loaded" a la imagen.
        $(".portada-imagen").addClass("loaded");
    });
    setTimeout(function() {
        $(".hero-frase p").addClass("visible");
    }, 500);
</script>
<app-footer></app-footer>